* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',  sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.logo {
    width: 140px;
    cursor: pointer;
}

body {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


div#home h1{
    margin-top: 20px;
    font-size: 60px;
}

div#home p{
    margin-top: 18%;
    font-size: 30px;
}

div#cv-and-about {
    margin-top: 20px;
}

div#cv-and-about button{
    display: inline-block;
    margin: 10px 15px 10px 0;
    padding: 15px 25px;
    font-size: 17px;
    border-radius: 25px;
    background-color: #1643df;
    font-weight: 500;
    color: white;
    border: #1643df 3px solid;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

div#cv-and-about button:hover{
    display: inline-block;
    margin: 10px 15px 10px 0;
    padding: 15px 25px;
    font-size: 17px;
    border-radius: 25px;
    background-color: white;
    font-weight: 500;
    color: #1643df;
    border: #1643df 3px solid;
    cursor: pointer;
}

