* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',  sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.logo {
    width: 140px;
    cursor: pointer;
}

body {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


/*========================== Home ==========================*/
div#home {
    height: 80vh;
    position: relative;
}

div#home div.left h1{
    margin-top: 20px;
    font-size: 60px;
}

div#home div.left p{
    margin-top: 18%;
    font-size: 30px;
}

div#cv-and-about {
    margin-top: 20px;
}

div#cv-and-about button{
    display: inline-block;
    margin: 10px 15px 10px 0;
    padding: 15px 25px;
    font-size: 17px;
    border-radius: 25px;
    background-color: #1643df;
    font-weight: 500;
    color: white;
    border: #1643df 3px solid;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

div#cv-and-about button:hover{
    display: inline-block;
    margin: 10px 15px 10px 0;
    padding: 15px 25px;
    font-size: 17px;
    border-radius: 25px;
    background-color: white;
    font-weight: 500;
    color: #1643df;
    border: #1643df 3px solid;
    cursor: pointer;
}



img.avatar {
    width: 550px;
    height: auto;
    right: 0;
    top: -35%;
    position: absolute;
}

/*========================== About me ==========================*/
div#about-me {
    height: 100vh;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div#about-me div.left {
    flex-basis: 35%;
}

div#about-me div.left img {
    width: 100%;
    border-radius: 15px;
}

div#about-me div.right {
    flex-basis: 60%;
}

div#about-me div.right h1.title {
    font-size: 50px;
    font-weight: 600;
}


/*========================== Skills ==========================*/
div#skills, div#projects, div#contact {
    margin-top: 0px;
    height: 80vh;
}

div#skills h1, div#projects h1, div#contact h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;

}

div.skills-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*========================== Projects ==========================*/
div.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/*========================== Contact ==========================*/
div#contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form#contact-form {
    display: flex;
    flex-direction: column;
}


